/* Estilos generales */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-x: hidden;
}

:root {
  --background-color: #f0f0f0;
  --text-color: #333;
  --navbar-background: linear-gradient(145deg, #636363, #8c8c8c);
  --navbar-border: #555555;
  --button-background: #0056b3;
  --button-background-hover: #004494;
  --button-background-active: #003366;
  --button-disabled: #9e9e9e;
  --input-border-focus: #5045cc;
  --column-background: rgba(255, 255, 255, 0.95);
}

.dark-mode {
  --background-color: #121212;
  --text-color: #ffffff;
  --navbar-background: linear-gradient(145deg, #1f1f1f, #3d3d3d);
  --navbar-border: #444444;
  --button-background: #6c757d;
  /* Ajuste de color */
  --button-background-hover: #5a6268;
  /* Ajuste de color */
  --button-background-active: #495057;
  /* Ajuste de color */
  --button-disabled: #6c757d;
  --input-border-focus: #007bff;
  --column-background: rgba(48, 48, 48, 0.95);
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

/* Barra de navegación */
.navbar {
  width: 100%;
  background: var(--navbar-background);
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid var(--navbar-border);
  transition: background 0.3s, border-color 0.3s;
}

.navbar:hover {
  border-bottom: 2px solid var(--navbar-border-hover);
}

.nav-links {
  display: flex;
  gap: 15px;
}

.nav-links button {
  background: none;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s;
}

.nav-links button:hover {
  color: #ddd;
}

.nav-links button:focus {
  outline: none;
  color: #bbb;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.app-logo {
  height: 80px;
  margin-right: 15px;
  transition: transform 0.3s;
}

.app-logo:hover {
  transform: rotate(360deg);
}

.app-title {
  color: white;
  font-size: 28px;
  font-weight: bold;
}

.toggle-dark-mode {
  background: none;
  border: none;
  color: white;
  font-size: 0.8rem;
  cursor: pointer;
  margin-left: 15px;
  transition: color 0.3s;
}

.toggle-dark-mode:hover {
  color: #ddd;
}

/* Fondo decorativo */
.background-decor {
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url('./assets/background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 20px 0;
  flex-grow: 1;
}

.dark-mode .background-decor {
  background-image: url('./assets/background-dark.jpg');
}

.main-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  max-width: 1400px;
  padding: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--column-background);
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin: 10px;
  width: 100%;
  max-width: 400px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.column:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h1,
h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--text-color);
  font-family: 'Orbitron', sans-serif;
}

/* Estilos de entrada y botones */
input,
button,
select {
  font-size: 16px;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  transition: border-color 0.3s;
}

input:focus,
select:focus {
  border-color: var(--input-border-focus);
  outline: none;
}

button {
  background-color: var(--button-background);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  background-color: var(--button-background-hover);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

button:active {
  background-color: var(--button-background-active);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button:disabled,
button.loading {
  background-color: var(--button-disabled);
  pointer-events: none;
}

button .icon {
  margin-right: 8px;
}

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
    align-items: center;
  }
}

/* Estilos adicionales */
label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
  font-size: 18px;
  color: var(--text-color);
}

.feedback-message {
  color: #d32f2f;
  font-size: 14px;
  margin-top: 10px;
}

.token-manager {
  text-align: center;
}

.token-manager input {
  width: calc(100% - 20px);
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.token-manager select {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.token-manager p {
  margin-bottom: 20px;
}

.token-manager button {
  margin: 5px 0;
}

.transaction-details-block,
.transaction-history,
.saldo-block {
  background: var(--column-background);
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin: 10px;
  width: 100%;
  max-width: 400px;
  transition: transform 0.3s, box-shadow 0.3s;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.transaction-details-block:hover,
.transaction-history:hover,
.saldo-block:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.cartera-block {
  background: var(--column-background);
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin: 10px;
  width: 100%;
  max-width: 400px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.cartera-block:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}